@tailwind base;
@tailwind components;
@tailwind utilities;

html body {
  background: #282d4c;
}
main {
  @apply relative pt-8  m-20 text-white   mx-auto;
  box-sizing: border-box;
  width: 1280px;
}

code,
pre {
  font-family: Monaco, Andale Mono, Courier New, monospace;
}
code {
  background-color: #fee9cc;
  color: rgba(0, 0, 0, 0.75);
  padding: 1px 3px;
  font-size: 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

pre {
  display: block;
  padding: 14px;
  margin: 0 0 18px;
  line-height: 16px;
  font-size: 11px;
  border: 1px solid #d9d9d9;
  white-space: pre-wrap;
  word-wrap: break-word;
}
pre code {
  background-color: #fff;
  color: #737373;
  font-size: 11px;
  padding: 0;
}
